@import "reset.css";

.main,
.projects {
    background-color: #ffffff;
    color: #242424;
}

.white-selection ::selection {
    background-color: #fdd835;
    color: white;
}

.about,
.skills,
footer {
    background-color: #242424;
    color: #ffffff;
}

.black-selection ::selection {
    background-color: #FFE176;
    color: black;
}


.about,
.skills,
.projects,
.contact {
    display: flex;
    flex-direction: column;
}

.skill,
.box,
.inline,
.icons {
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

.medium {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.normal {
    font-size: 25px;
    line-height: 40px;
}

.white-point {
    color: #fdd835;
}

.black-point {
    color: #FFE176;
}

.container {
    padding: 270px 0 0 164px;
}

.aboutMe {
    padding-top: 50px;
}

.skill-title {
    padding: 200px 0 0px 164px;
}

.value {
    padding: 50px 0 0 164px;
}

.project-title {
    padding: 150px 0 0px 164px;
}

.explain {
    width: 600px;
    line-height: 40px;
}

.projects {
    height: 1100px;
}

.project {
    width: 320px;
    height: 200px;
}

.line {
    margin: 0px 0px 20px 0px;
    color: #bdbdbd;
}


.box {
    width: 70%;
    justify-content: space-between;
    padding: 50px 0 50px 164px;
}

.project .normal {
    font-size: 20px;
}

.contact {
    height: 80px;
    justify-content: space-between;
    padding: 100px 0 0 164px;
}

.icons {
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.e-mail {
    margin-left: 20px;
    height: 50px;
}

.inline {
    justify-content: space-between;
    height: 32px;
}

.link {
    filter: brightness(3);
}

.link:hover {
    filter: brightness(0);
}

.project:hover {
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width : 1500px) {

    .box {
        padding-top: 50px;
    }

    .skill,
    .box {
        flex-direction: column;
    }

    .wrap {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width : 960px) {

    .bold {
        font-size: 50px;
    }

    .medium,
    .normal {
        font-size: 20px;
    }

    .project .normal {
        font-size: 17px;
    }

    .projects {
        height: 1800px;
    }

    .container {
        padding: 300px 0 0 64px;
    }

    .skill-title,
    .project-title,
    .value,
    .box {
        padding-left: 64px;
    }

    .projects {
        height: 1000px;
    }

    .contact {
        padding: 50px 0 0 64px;
    }

}

@media screen and (max-width:800px) {

    .explain {
        width: 100%;
    }

    .projects {
        height: 1700px;
    }

    .project {
        width: 80%;
    }

    .project-title {
        padding-top: 70px;
        width: 350px;
    }

    .line {
        margin-bottom: 7px;
    }

    .project .normal {
        font-size: 15px;
        line-height: 30px;
    }

    .box {
        padding: 50px 0 150px 64px;
    }
}

@media screen and (max-width:640px) {

    .bold {
        font-size: 40px;
        line-height: 50px;
    }

    .medium {
        line-height: 20px;
    }

    .normal {
        font-size: 17px;
        line-height: 30px;
    }


    .container {
        padding: 250px 0 0 32px;
    }

    .skill-title,
    .project-title,
    .value,
    .box {
        padding-left: 32px;
    }

    .project-title {
        width: 300px;
    }

    .contact {
        padding-left: 32px;
    }

}

@media screen and (max-width:450px) {

    .medium {
        font-size: 17px;
    }

    .normal {
        font-size: 15px;
        line-height: 25px;
    }

    .bold {
        width: 340px;
    }

    .container {
        padding: 150px 0 0 32px;
    }

    .line {
        margin-bottom: 10px;
    }

    .link {
        width: 25px;
        height: 25px;
    }

    .skill-title,
    .project-title {
        padding: 100px 0 0 32px;
    }

}