@import "reset.css";

body {
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

section {
    width: 100%;
    height: 1000px;
}

.main,
.projects {
    background-color: #ffffff;
    color: #242424;
}

.about,
.skills,
footer {
    background-color: #242424;
    color: #ffffff;
}

.value,
.experience,
.box,
.inline,
.icons {
    display: flex;
    flex-direction: row;
}

.about,
.skills,
.projects,
.contact {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
    font-size: 58px;
    line-height: 60px;
}

.medium {
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
}

.normal {
    font-size: 25px;
    line-height: 40px;
}

.container {
    margin: 309px 0 0 164px;
}

.white_point {
    color: #fdd835;
    font-family: normal;
}

.black_point {
    color: #FFE176;
    font-family: normal;
}

.main {
    height: 620px;
}

.grow {
    line-height: 80px;
}

.aboutMe {
    justify-content: center;
    margin-top: 70px;
}

.title{
    margin: 179px 0 20px 164px;
}

.value {
    margin:50px 0 0 164px;
}

.explain {
    width: 600px;
    line-height: 40px;
}

.skill {
    margin: 0 0 0 164px;
}

.experience {
    width: 60%;
    justify-content: space-between;
}

.projects {
    height: 1100px;
}

.project {
    width: 320px;
    height: 200px;
}

.number {
    margin-left: 3px;
}

.line {
    margin: 0px 0px 18px 0px;
    color: #bdbdbd;
}

footer {
    width: 100%;
    height: 545px;
}

.box {
    width: 70%;
    justify-content: space-between;
    margin: 50px 0 150px 164px;
}

.contact {
    height: 80px;
    justify-content: space-between;
    padding: 100px 0 0 164px;
}

.icons {
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.e-mail {
    margin-left: 20px;
    height: 50px;
}

.inline {
    justify-content: space-between;
    height: 32px;
}

.link {
    filter: brightness(3);
}

.link:hover {
    filter: brightness(0);
}

.project:hover {
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width : 1500px) {
    .title {
        margin: 179px 0 20px 164px;
    }

    .skill,
    .box {
        margin-top: 50px;
    }

    .value,
    .box {
        flex-direction: column;
    }

    .wrap {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width : 960px) {

    .container {
        margin: 180px 0 0 80px;
    }

    .projects {
        height: 1800px;
    }

    .title {
        margin: 180px 0 20px 64px;
    }

    .value,
    .box {
        margin: 50px 0 0 64px;
    }

    .projects {
        height: 1000px;
    }

    .contact {
        padding: 50px 0 0 64px;
    }
}

@media screen and (max-width:800px) {
    .projects {
        height: 1700px;
    }
    .experience,
    .wrap {
        display: flex;
        flex-direction: column;
    }

    .project {
        margin: 0 auto;
    }
}