@import "reset.css";

section {
    width: 100%;
    height: 1000px;
}

.main,
.projects {
    background-color: #ffffff;
    color: #242424;
}

.selection1 ::selection {
    background-color: #fdd835;
    color: white;
}

.about,
.skills,
footer {
    background-color: #242424;
    color: #ffffff;
}

.selection2 ::selection {
    background-color: #FFE176;
    color: black;
}

.skill,
.box,
.inline,
.icons {
    display: flex;
    flex-direction: row;
}

.about,
.skills,
.projects,
.contact {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

.medium {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.normal {
    font-size: 25px;
    line-height: 40px;
}

.container {
    margin: 310px 0 0 164px;
}

.white_point {
    color: #fdd835;
}

.black_point {
    color: #FFE176;
}

.main {
    height: 620px;
}

.aboutMe {
    justify-content: center;
    margin-top: 70px;
}

.title {
    margin: 180px 0 20px 164px;
}

.value {
    margin: 50px 0 0 164px;
}

.explain {
    width: 600px;
    line-height: 40px;
}

.projects {
    height: 1100px;
}

.project {
    width: 320px;
    height: 200px;
}

.line {
    margin: 0px 0px 20px 0px;
    color: #bdbdbd;
}

footer {
    width: 100%;
    height: 545px;
}

.box {
    width: 70%;
    justify-content: space-between;
    margin: 50px 0 150px 164px;
}

.contact {
    height: 80px;
    justify-content: space-between;
    padding: 100px 0 0 164px;
}

.icons {
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.e-mail {
    margin-left: 20px;
    height: 50px;
}

.inline {
    justify-content: space-between;
    height: 32px;
}

.link {
    filter: brightness(3);
}

.link:hover {
    filter: brightness(0);
}

.project:hover {
    transform: scale(1.08);
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width : 1500px) {

    .box {
        margin-top: 50px;
    }

    .skill,
    .box {
        flex-direction: column;
    }

    .wrap {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width : 960px) {

    .container {
        margin: 180px 0 0 64px;
    }

    .projects {
        height: 1800px;
    }

    .title,
    .value,
    .box {
        margin-left: 64px;
    }

    .projects {
        height: 1000px;
    }

    .contact {
        padding: 50px 0 0 64px;
    }

}

@media screen and (max-width:800px) {

    .explain {
        width: 100%;
    }

    .projects {
        height: 1700px;
    }

    .wrap {
        display: flex;
        flex-direction: column;
    }

    .project {
        margin: 0 auto;
    }

    .box {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:640px) {

    .container {
        margin: 180px 0 0 32px;
    }

    .bold {
        font-size: 50px;
    }

    .projects {
        height: 1800px;
    }

    .title,
    .value,
    .project {
        margin-left: 32px;
    }

    .projects {
        height: 1800px;
    }

    .box {
        margin: 0;
    }

    .contact {
        padding-left: 32px;
    }
}